In [1]:
celebs = [("Brad Pitt", 1963), ("Jack Nicholson", 1937),
                                ("Justin Bieber", 1994)]

In [2]:
celebs[1]

('Jack Nicholson', 1937)

In [3]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")

In [4]:
julia[1]

'Roberts'

In [5]:
students = [
    ("John", ["CompSci", "Physics"]),
    ("Vusi", ["Maths", "CompSci", "Stats"]),
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]),
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]),
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"])]

In [6]:
students[1]

('Vusi', ['Maths', 'CompSci', 'Stats'])

In [7]:
julia_more_info = ( ("Julia", "Roberts"), (8, "October", 1967),
                     "Actress", ("Atlanta", "Georgia"),
                     [ ("Duplicity", 2009),
                       ("Notting Hill", 1999),
                       ("Pretty Woman", 1990),
                       ("Erin Brockovich", 2000),
                       ("Eat Pray Love", 2010),
                       ("Mona Lisa Smile", 2003),
                       ("Oceans Twelve", 2004) ])

In [10]:
julia_more_info[4][0]

('Duplicity', 2009)

#1.Weâ€™ve said nothing in this chapter about whether you can pass tuples as arguments to a function. Construct a small Python example to test whether this is possible, and write up your findings.

In [12]:
def get_tuple_info(t, n):
    return t[n]

julia_more_info = ( ("Julia", "Roberts"), (8, "October", 1967),
                     "Actress", ("Atlanta", "Georgia"),
                     [ ("Duplicity", 2009),
                       ("Notting Hill", 1999),
                       ("Pretty Woman", 1990),
                       ("Erin Brockovich", 2000),
                       ("Eat Pray Love", 2010),
                       ("Mona Lisa Smile", 2003),
                       ("Oceans Twelve", 2004) ])

get_tuple_info(julia_more_info,1)

(8, 'October', 1967)

#2.Is a pair a generalization of a tuple, or is a tuple a generalization of a pair?

In [ ]:
# pair is a generalization of a tuple

#3.Is a pair a kind of tuple, or is a tuple a kind of pair?

In [ ]:
# pair is a kind of tuple